<!DOCTYPE html>
<html>
  <head>
      <title>a simple DNS lookup tool</title>
      <meta name="title" content="a simple DNS lookup tool">
      <meta name="description" content="make queries to 8.8.8.8">
      <meta property="og:type" content="website">
      <meta property="og:url" content="https://dns-lookup.jvns.ca">
      <meta property="og:title" content="a simple DNS lookup tool">
      <meta property="og:description" content="make queries to 8.8.8.8">
      <meta property="twitter:url" content="https://dns-lookup.jvns.ca">
      <meta property="twitter:title" content="a simple DNS lookup tool">
      <meta property="twitter:description" content="make queries to 8.8.8.8">
      <meta charset="utf-8">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.3/tailwind.min.css">
      <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic,500italic,300,300italic,100' rel='stylesheet' type='text/css'>
      <script defer data-domain="dns-lookup.jvns.ca" src="https://plausible.io/js/script.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
      <script src="/dns.js"> </script>
  </head>
  <body>
<style>
input[type=button]:focus {
    box-shadow: 0px 0px 2px purple;

}
input[type=button] {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}
input:checked + label {
    color: white;
	user-select: none;
    background-color: rgba(139,92,246);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);

}
input:checked + label:hover {
    background-color: rgba(139,92,246);
    color: white;
}

</style>

<nav class="bg-purple-800 text-white w-full p-4 text-lg flex flex-row">
    <div class="w-1/2 sm:pl-8">
        a simple DNS lookup tool
    </div>
    <div class="w-1/2 text-right">
        <a href="https://github.com/jvns/dns-lookup">GitHub repository</a>
    </div>
</nav>
<div class="container max-w-screen-lg m-auto p-2">
<div class="my-8 m-auto w-full bg-gray-100 p-8 pt-12 shadow-md">
    <form onsubmit="formSubmit(event)">
    <div>
        <div class="relative">
            <input name="domain" 
                   type="text" 
                   id="domain" 
                   placeholder="yourdomain.com"
                   class="focus:outline-none bg-transparent w-full  focus:border-purple-500 border-solid border-b-2 transition duration-500">
            <label for="domain" class="text-sm text-purple-800 absolute left-0 -top-6">
                Name
            </label>
        </div>
    </div>
    <div class="mt-8">
        <input id="A"     value="A"     name="type" type="radio"  onclick="lookup(this)" class="hidden"> <label for="A"     class="inline-block my-1 bg-transparent font-medium text-sm hover:bg-gray-200 p-2 px-4 mx-1">A</label>
        <input id="AAAA"  value="AAAA"  name="type" type="radio"  onclick="lookup(this)" class="hidden"> <label for="AAAA"  class="inline-block my-1 bg-transparent font-medium text-sm hover:bg-gray-200 p-2 px-4 mx-1">AAAA</label>
        <input id="CAA"   value="CAA"   name="type" type="radio"  onclick="lookup(this)" class="hidden"> <label for="CAA"   class="inline-block my-1 bg-transparent font-medium text-sm hover:bg-gray-200 p-2 px-4 mx-1">CAA</label>
        <input id="CNAME" value="CNAME" name="type" type="radio"  onclick="lookup(this)" class="hidden"> <label for="CNAME" class="inline-block my-1 bg-transparent font-medium text-sm hover:bg-gray-200 p-2 px-4 mx-1">CNAME</label>
        <input id="MX"    value="MX"    name="type" type="radio"  onclick="lookup(this)" class="hidden"> <label for="MX"    class="inline-block my-1 bg-transparent font-medium text-sm hover:bg-gray-200 p-2 px-4 mx-1">MX</label>
        <input id="NAPTR" value="NAPTR" name="type" type="radio"  onclick="lookup(this)" class="hidden"> <label for="NAPTR" class="inline-block my-1 bg-transparent font-medium text-sm hover:bg-gray-200 p-2 px-4 mx-1">NAPTR</label>
        <input id="NS"    value="NS"    name="type" type="radio"  onclick="lookup(this)" class="hidden"> <label for="NS"    class="inline-block my-1 bg-transparent font-medium text-sm hover:bg-gray-200 p-2 px-4 mx-1">NS</label>
        <input id="PTR"   value="PTR"   name="type" type="radio"  onclick="lookup(this)" class="hidden"> <label for="PTR"   class="inline-block my-1 bg-transparent font-medium text-sm hover:bg-gray-200 p-2 px-4 mx-1">PTR</label>
        <input id="SOA"   value="SOA"   name="type" type="radio"  onclick="lookup(this)" class="hidden"> <label for="SOA"   class="inline-block my-1 bg-transparent font-medium text-sm hover:bg-gray-200 p-2 px-4 mx-1">SOA</label>
        <input id="SRV"   value="SRV"   name="type" type="radio"  onclick="lookup(this)" class="hidden"> <label for="SRV"   class="inline-block my-1 bg-transparent font-medium text-sm hover:bg-gray-200 p-2 px-4 mx-1">SRV</label>
        <input id="TXT"   value="TXT"   name="type" type="radio"  onclick="lookup(this)" class="hidden"> <label for="TXT"   class="inline-block my-1 bg-transparent font-medium text-sm hover:bg-gray-200 p-2 px-4 mx-1">TXT</label>
        <br>
        <div class="text-center mt-4">
        <input id="ALL-THE-RECORDS" name="type" value="GET ME ALL THE RECORDS!"  type="radio"   onclick="lookup(this)" class="hidden"> <label for="ALL-THE-RECORDS"   class="bg-transparent font-medium text-sm hover:bg-gray-200 p-2 px-4 mx-1">GET ME ALL THE RECORDS!</label>
        </div>
    </div>
    </form>

</div>

<style> 
ul + ul {
    border-top: 1px solid #bbb;
}
</style>
<div id="app">
<div v-for="result in sortedResults" class="relative my-8 m-auto w-full bg-gray-100 p-8 pt-12 shadow-md">
    <div>
        <span class="absolute rounded left-2 -top-4 shadow-sm p-2 inline-block bg-purple-500 text-white">{{result.type.toUpperCase()}} answers</span>
        <div v-if="Object.keys(result.answers).length > 0" class="w-full">
        <!-- show a table on large screens -->
        <table id="answers" class="w-full sm:block hidden">
            <tr class="border-b border-gray-300">
                <td class="px-4" >name</td>
                <td class="px-4" >TTL</td>
                <td class="px-4 whitespace-nowrap" >record type</td>
                <td class="px-4" >value</td>
            </tr>
            <tr v-for="answer in result.answers" class="py-4 font-mono">
                <td class="align-top py-1 px-4">{{answer.name}}</td>
                <td class="align-top py-1 px-4">{{answer.ttl}}</td>
                <td class="align-top py-1 px-4 w-24">{{answer.type}}</td>
                <td class="align-top py-1 px-4 w-full" style="word-break: break-word;">{{answer.value}} </td>
            </tr>
        </table>
        <!-- show a list on small screens -->
        <ul v-for="answer in result.answers" class="py-4 font-mono sm:hidden block">
            <li><span class="text-purple-600 font-semibold">Name:</span> {{answer.name}}</li>
            <li><span class="text-purple-600 font-semibold">TTL:</span> {{answer.ttl}}</li>
            <li><span class="text-purple-600 font-semibold">Record Type:</span> {{answer.type}}</li>
            <li style="word-break: break-word;"><span class="text-purple-600 font-semibold">Value:</span> {{answer.value}} </li>
        </ul>

        </div>
        <pre v-else id="answers">&lt;no result&gt;</pre>
    </div>
</div>
</div>

<div class="text-sm w-full m-auto mt-64">
    <p class="pb-2">
    FAQ:
    </p>

    <p class="font-bold">What DNS server is this using?</p>
    <p class="pl-2 mb-4">
    8.8.8.8
    </p>

    <p class="font-bold">Where are the DNS queries being made?</p>
    <p class="pl-2 mb-4">
    In <a class="underline" href="https://github.com/jvns/dns-lookup/blob/d204fa593d503e6ab47dbbab3cc738db2260b880/dns.go">this little Go program</a>
    </p>

    <p class="font-bold">When I make an A query, why does it sometimes show a CNAME record as a reply?</p>
    <p class="pl-2 mb-4">
    That's normal! If a name has a CNAME record set, it'll answer with that CNAME when you make queries for other record types. You can see an example of this if you query for <a class="underline" href="/#www.twitter.com|A">www.twitter.com</a>
    </p>

    <p class="font-bold">Does this support every DNS record type?</p>
    <p class="pl-2 mb-4">
    Nope! "GET ME ALL THE RECORDS" will only query for all the types of records listed at the top of the page. If you ask I might add more though!
    </p>

    <p class="font-bold">What does this build on?</p>
    <p class="pl-2 mb-4">
    This design is extremely heavily inspired by <a href="https://toolbox.googleapps.com/apps/dig/#SRV/" class="text-purple-800">Google's DNS lookup webmaster tool</a>. The main differences are a "GET ME ALL THE RECORDS" feature and simpler formatting of the output.
    </p>

</div>
</div>

  </body>
</html>
