<!DOCTYPE html>
<html>
  <head>
      <title>DNS lookups!</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.3/tailwind.min.css">
      <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic,500italic,300,300italic,100' rel='stylesheet' type='text/css'>
      <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
      <script src="/dns.js"> </script>
  </head>
  <body>
<style>
input[type=button]:focus {
    box-shadow: 0px 0px 2px purple;

}
input[type=button] {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}
input:checked + label {
    color: white;
	user-select: none;
    background-color: rgba(139,92,246);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);

}
input:checked + label:hover {
    background-color: rgba(139,92,246);
    color: white;
}

</style>
<div class="my-8 m-auto w-2/3 bg-gray-100 p-8 pt-12 shadow-md">
    <form onsubmit="formSubmit(event)">
    <div>
        <div class="relative">
            <input name="domain" 
                   type="text" 
                   id="domain" 
                   placeholder="yourdomain.com"
                   class="focus:outline-none bg-transparent w-full  focus:border-purple-500 border-solid border-b-2 transition duration-500">
            <label for="domain" class="text-sm text-purple-800 absolute left-0 -top-6">
                Name
            </label>
        </div>
    </div>
    <div class="mt-8">
        <input id="A"     value="A"     name="type" type="radio"  onclick="lookup(this)" class="hidden"> <label for="A"     class="bg-transparent font-medium text-sm hover:bg-gray-200 p-2 px-4 mx-1">A</label>
        <input id="AAAA"  value="AAAA"  name="type" type="radio"  onclick="lookup(this)" class="hidden"> <label for="AAAA"  class="bg-transparent font-medium text-sm hover:bg-gray-200 p-2 px-4 mx-1">AAAA</label>
        <input id="ANY"   value="ANY"   name="type" type="radio"  onclick="lookup(this)" class="hidden"> <label for="ANY"   class="bg-transparent font-medium text-sm hover:bg-gray-200 p-2 px-4 mx-1">ANY</label>
        <input id="CAA"   value="CAA"   name="type" type="radio"  onclick="lookup(this)" class="hidden"> <label for="CAA"   class="bg-transparent font-medium text-sm hover:bg-gray-200 p-2 px-4 mx-1">CAA</label>
        <input id="CNAME" value="CNAME" name="type" type="radio"  onclick="lookup(this)" class="hidden"> <label for="CNAME" class="bg-transparent font-medium text-sm hover:bg-gray-200 p-2 px-4 mx-1">CNAME</label>
        <input id="MX"    value="MX"    name="type" type="radio"  onclick="lookup(this)" class="hidden"> <label for="MX"    class="bg-transparent font-medium text-sm hover:bg-gray-200 p-2 px-4 mx-1">MX</label>
        <input id="NS"    value="NS"    name="type" type="radio"  onclick="lookup(this)" class="hidden"> <label for="NS"    class="bg-transparent font-medium text-sm hover:bg-gray-200 p-2 px-4 mx-1">NS</label>
        <input id="PTR"   value="PTR"   name="type" type="radio"  onclick="lookup(this)" class="hidden"> <label for="PTR"   class="bg-transparent font-medium text-sm hover:bg-gray-200 p-2 px-4 mx-1">PTR</label>
        <input id="SOA"   value="SOA"   name="type" type="radio"  onclick="lookup(this)" class="hidden"> <label for="SOA"   class="bg-transparent font-medium text-sm hover:bg-gray-200 p-2 px-4 mx-1">SOA</label>
        <input id="SRV"   value="SRV"   name="type" type="radio"  onclick="lookup(this)" class="hidden"> <label for="SRV"   class="bg-transparent font-medium text-sm hover:bg-gray-200 p-2 px-4 mx-1">SRV</label>
        <input id="TXT"   value="TXT"   name="type" type="radio"  onclick="lookup(this)" class="hidden"> <label for="TXT"   class="bg-transparent font-medium text-sm hover:bg-gray-200 p-2 px-4 mx-1">TXT</label>
        <br>
        <div class="text-center mt-4">
        <input id="ALL-THE-RECORDS" name="type" value="GET ME ALL THE RECORDS!"  type="radio"   onclick="lookup(this)" class="hidden"> <label for="ALL-THE-RECORDS"   class="bg-transparent font-medium text-sm hover:bg-gray-200 p-2 px-4 mx-1">GET ME ALL THE RECORDS!</label>
        </div>
    </div>
    </form>

</div>

<div id="app">
<div v-for="result in sortedResults" class="relative my-8 m-auto w-2/3 bg-gray-100 p-8 pt-12 shadow-md">
    <div>
        <span class="absolute rounded left-2 -top-4 shadow-sm p-2 inline-block bg-purple-500 text-white">{{result.type.toUpperCase()}} answers</span>
        <table v-if="Object.keys(result.answers).length > 0" id="answers" class="w-full">
            <tr class="border-b border-gray-300">
                <td class="px-4" >name</td>
                <td class="px-4" >TTL</td>
                <td class="px-4 whitespace-nowrap" >record type</td>
                <td class="px-4" >value</td>
            </tr>
            <tr v-for="answer in result.answers" class="py-4">
                <td class="align-top py-1 px-4"><code>{{answer.name}}</code></td>
                <td class="align-top py-1 px-4"><code>{{answer.ttl}}</code></td>
                <td class="align-top py-1 px-4 w-24"><code>{{answer.type}}</code></td>
                <td class="align-top py-1 px-4 w-full break-words">
                    <div class="overflow-x-scroll w-full">
                    <code>{{answer.value}}</code>
                    </div>
                </td>
            </tr>
        </table>
        <pre v-else id="answers">&lt;no result&gt;</pre>
    </div>
</div>
</div>

<div class="text-sm w-2/3 m-auto mt-64">
    This design is extremely heavily inspired by <a href="https://toolbox.googleapps.com/apps/dig/#SRV/" class="text-purple-800">Google's DNS lookup webmaster tool</a>. <br>The main differences are a "GET ME ALL THE RECORDS" feature and simpler output.
</div>

  </body>
</html>
